<!-- <script type="text/javascript" src="tinymce/js/tinymce/jquery.tinymce.min.js" /> -->
<meta charset="utf-8"/>
<script src="tinymce/js/tinymce/tinymce.min.js"> </script>

<textarea>
hallo123
</textarea> 


<script type="text/javascript">
tinymce.init({
  selector: 'textarea',
  toolbar: 'undo redo |  formatselect | bold italic backcolor  | bullist numlist outdent indent',
  menubar: false,
  height:300,
  block_formats: 'Text=p;Überschrift 1=h1;Überschrift 2=h2;Überschrift 3=h3',
  oninit : "setPlainText",
  browser_spellcheck : true,
  plugins : "paste lists",
  content_css : 'contentstyle.css'
 });
 
 function setPlainText() {
        var ed = tinyMCE.get('elm1');

        ed.pasteAsPlainText = true;  

        //adding handlers crossbrowser
        if (tinymce.isOpera || /Firefox\/2/.test(navigator.userAgent)) {
            ed.onKeyDown.add(function (ed, e) {
                if (((tinymce.isMac ? e.metaKey : e.ctrlKey) && e.keyCode == 86) || (e.shiftKey && e.keyCode == 45))
                    ed.pasteAsPlainText = true;
            });
        } else {            
            ed.onPaste.addToTop(function (ed, e) {
                ed.pasteAsPlainText = true;
            });
        }
    }
</script>
